# ignore all temporary files
*~

# ignore all vim swap files
*.s[uvw][a-z]

# ignore directory autom4te.cache and any of its subdirectories
/autom4te.cache/

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO
